<body style="background-color:lightgreen;">
<h1>Savana Anonymizer & Uploder</h1><br>
<h3>Data in /raw folder has been anonymazed and sent to folder /anonymized</h3><br>
    <a href="/">
      <button>Back to MENU</button>
    </a>
    <br><br>
