<body style="background-color:lightgreen;">
<h1>Savana Anonymizer & Uploder</h1><br>
<h3>SDG logs: last entries</h3><br>
<p>
{% autoescape false %}
{{logs}}
{% endautoescape %}
</p>
<br><br>
    <a href="/">
      <button>Back to MENU</button>
    </a>
    <a href="/logs">
      <button>REFRESH</button>
    </a>
    <br><br>
