<body style="background-color:lightgreen;" leftmargin="50">
<img src="/static/images/savana.jpg" width="60" height="60">
	<h1>Savana Anonymizer & Uploder</h1><br>
    <a href="/anonymize">
      <button>ANOYMIZE</button>
    </a>
    <br><br>
    <a href="/upload">
      <button>UPLOAD ANONYMIZED to SAVANA</button>
    </a>
    <br><br>
    <a href="/clean">
      <button>DELETE ALL DATA</button>
    </a>
    <br><br>
    <a href="/help">
      <button>HELP</button>
    </a>
    <br><br>
    <a href="/logs">
      <button>LOGS</button>
    </a>
</form>
