<body style="background-color:lightgreen;">
<h1>Savana Anonymizer & Uploder</h1><br>
<h3>Data in /anonymized folder has been securely sent to Savana</h3><br>
    <a href="/">
      <button>Back to MENU</button>
    </a>
    <br><br>
